<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/Global.css">
    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
</head>

<body>
    <!-- Inicio navbar -->
    <header class="navbar">
        <div class="user-info">
            <h2>
                Olá, <%=nome%>
            </h2>
        </div>
        <div class="cargo">
            <h1>
                <% if(cargo==='ALUN' ){%>
                    Aluno
                    <%} else {%>
                        Professor
                        <%}%>
            </h1>
        </div>
        <form action="/quit" method="post">
            <input type="submit" class="sair" value="Sair">
        </form>
    </header>
    <!-- Fim navbar -->

    <!-- Inicio projetos -->
    <main class="content">

        <% if(nomeProjetos[0] != null){ %>
        <section class="projeto">
            <%for(var i=0; i < nomeProjetos.length; i++){%>
                <% if (nomeProjetos[i] != null) { %>
                    <% let projectURL=[nomeProjetos[i].toLowerCase().replace(/\s+/g, '-' )]%>
                        <a href="/projeto-<%=projectURL%>">
                            <div>
                                <h2>Nome do projeto:
                                    <%= nomeProjetos[i] %>
                                </h2>

                                <p>Tipo:
                                    <%= tipos[i] %>
                                </p>
                                <p>Participantes:
                                    <%= alunos[i] %>
                                </p>
                                <p>Orientadores:
                                    <%= orientadores[i] %>
                                </p>
                            </div>
                        </a>
                        <%}%>
                <% } %>
        </section>
        <% } %>

        <!-- Botoes -->
        <div class="botoes">

            <div>
                <%if(!( cargo==='ALUN' && nomeProjetos.length >= 1 )){%>
                    <a href="adicionarProjeto">
                        <button class="add">+</button>
                    </a>
                    <%}%>
            </div>

            <button class="chat">💬</button>
        </div>
    </main>

</body>

</html>