<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/projeto.css">
    <title>
        <%= projeto %>
    </title>
</head>

<body>

    <!-- Descrição do TCC-->
    <div class="sidebar" id="sidebar">
        <button class="toggle-btn" onclick="toggleSidebar()">➡</button>
        <div class="sidebar-content">
            <a href="/home" class="voltar">
                <p>⬅</p>
            </a>
            <h1 class="titulo-projeto">
                <%= projeto %>
            </h1><br>

            <h3>Descrição:<br></h3>
            <%= desc %>

                <h3>Tipo:</strong><br></h3>
                <%= tipo %>

                    <h3>Integrantes:</strong><br></h3>
                    <%= aluno %>

                        <h3>Orientador(es):</strong><br></h3>
                        <%= orientador %>
                            <br>

                            <button onclick="editar()">Editar</button>
                            <button onclick="deletar()">Deletar projeto</button>
        </div>
    </div>
    </div>

    <!-- Chat com orientador-->
    <section id="chat-container">
        <div id="chat-mensagens">
            <% mensagens.forEach(msg=> { %>
                <div class="mensagem <%= msg.remetente === 'ALUN' ? 'aluno' : 'orientador' %>">
                    <div class="conteudo-msg">
                        <h2>
                            <%= msg.mensagem %>
                        </h2>
                        <% if (msg.remetente==='ORIE' ) { %>
                            <button class="analisar-btn" onclick="this, '<%= msg.mensagem %>'">Analisar</button>
                            <% } %>
                    </div>
                    <div class="info-msg">
                        <h4>
                            <%= msg.data_envio_formatada %>
                        </h4>
                        <h4>
                            <%= msg.nmRemetente %> - <% if(msg.remetente=='ALUN' ){%> Aluno <%} else{%> Orientador <%}%>
                        </h4>
                    </div>
                </div>
                <% }) %>
        </div>

        <!-- PDF enviar-->
        <form id="formMensagem" enctype="multipart/form-data">
            <input type="file" id="pdf" name="arquivo_pdf" accept=".pdf" title="Enviar PDF" placeholder="Enviar PDF">
            <input type="text" name="mensagem" id="msg" placeholder="Digite sua mensagem..." required>
            <button type="submit">Enviar</button>
        </form>
    </section>
    <!-- Chat com a Tessy-->
    <div id="chat-button" onclick="toggleChat()">💬</div>

    <div id="chat-window">
        <div id="chat-header">
            Chat com Tessy *(chat temporário)*
            <span onclick="toggleChat()">✖</span>
        </div>
        <div id="chat-body">

        </div>
        <div id="chat-input">
            <form id="msgChat" enctype="multipart/form-data">
                <div class="mensagem-junto">
                    <input type="text" name="mensagem" class="mensagem" id="msg_chat"
                        placeholder="Digite sua mensagem..." autocomplete="off">
                    <button class="seta" type="submit">⭡</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('collapsed');
        }

        const idProjeto = '<%=idProjeto %>';

        document.getElementById('formMensagem').addEventListener('submit', function (e) {
            e.preventDefault();

            const inputTexto = document.getElementById('msg');
            const arquivo = document.querySelector('input[type="file"]').files[0];
            const texto = inputTexto.value.trim();

            if (!texto && !arquivo) {
                alert("Digite uma mensagem ou selecione um arquivo PDF.");
                return;
            }

            const formData = new FormData(this);
            formData.append('idProjeto', idProjeto);
            formData.append('remetente', '<%=cargo%>');

            fetch('/mensagens', {
                method: 'POST',
                body: formData
            }).then(() => {
                document.getElementById('msg').value = '';
                document.getElementById('pdf').value = '';
                buscarMensagens();
            }).catch(err => console.error('Erro ao enviar:', err));
        });

        function buscarMensagens() {
            const cargo = '<%= cargo %>'
            fetch(`/mensagens?idProjeto=${idProjeto}`)
            .then(res => res.json())
            .then(data => {
                    const chat = document.getElementById('chat-mensagens');
                    chat.innerHTML = '';

                    data.forEach(msg => {
                        chat.innerHTML += `
                    <div class="mensagem">
                        ${msg.mensagem ? `<h2>${msg.mensagem}  ${cargo === 'ALUN' ? `${msg.remetente === 'ORIE' ? `<button class="analisar-btn" onclick="analisaMsg(this, '${msg.mensagem}')">Analisar</button>` : ''}` : ''}</h2>` : ''}
                        ${msg.arquivo_pdf ? `<a href="/uploads/${msg.arquivo_pdf}" target="_blank">📎 Ver PDF</a>` : ''}
                        <h4>${msg.data_envio_formatada}</h4>
                        <h4>${msg.nmRemetente ? msg.nmRemetente : 'IA'} - ${msg.remetente === 'ALUN' ? 'Aluno' : 'Orientador'}</h4>
                    </div>
                `;
                    });
                });
        }

        setInterval(buscarMensagens, 2000);
        buscarMensagens();

        function toggleChat() {
            const chatWindow = document.getElementById('chat-window');
            chatWindow.style.display = chatWindow.style.display === 'none' || chatWindow.style.display === '' ? 'flex' : 'none';
        }

        document.getElementById('msgChat').addEventListener('submit', async function (e) {
            e.preventDefault();

            const idProjeto = "<%=idProjeto%>"
            const msg = document.getElementById('msg_chat').value;
            const chatBody = document.getElementById('chat-body');
            if (msg === '') return;

            const userMsg = document.createElement('div');
            userMsg.textContent = `Você: ${msg}`;
            chatBody.appendChild(userMsg);


            if (!msg) {
                alert("Digite uma mensagem.");
                return;
            }

            resposta = await fetch('/chatbox', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ msg, idProjeto })
            })

            document.getElementById('msg_chat').value = '';
            chatBody.scrollTop = chatBody.scrollHeight;

            const dados = await resposta.json();
            const iaMsg = document.createElement('div');
            iaMsg.textContent = `IA: ${dados.resposta}`;
            chatBody.appendChild(iaMsg);
        });

        function analisaMsg(btn, msg) {
            btn.disabled = true;
            btn.textContent = 'Analisando...';

            fetch('/analisaMsg', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ msg, idProjeto })
            })
                .then(response => response.json())
        }

        function editar() {
            const idProjeto = '<%= idProjeto %>';
            window.location.href = `/editarProjeto?idProjeto=${idProjeto}`;
        }

        function deletar() {
            const nomeProjeto = '<%= projeto %>'
            if (confirm('Tem certeza que deseja deletar esse projeto?')) {
                fetch('/emailDelete', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ idProjeto, nomeProjeto })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert(`${data.message}`)
                            window.location.href = ('/home');

                        } else {
                            alert(`${data.message}`)
                        }
                    })
            }
        }

    </script>
</body>

</html>